[submodule "fbuild"]
	path = fbuild
	url = git://github.com/erickt/fbuild.git
[submodule "src/compiler/dypgen"]
	path = src/compiler/dypgen
	url = git://github.com/erickt/dypgen.git
[submodule "src/compiler/ocs"]
	path = src/compiler/ocs
	url = git://github.com/erickt/ocs.git
[submodule "re2"]
	path = src/re2/re2
	url = git://github.com/skaller/re2.git
[submodule "src/tre/tre"]
	path = src/tre/tre
	url = git://github.com/erickt/tre.git
