[submodule "fbuild"]
	path = fbuild
	url = git://github.com/erickt/fbuild.git
[submodule "src/compiler/dypgen"]
	path = src/compiler/dypgen
	url = git://github.com/erickt/dypgen.git
[submodule "src/compiler/ocs"]
	path = src/compiler/ocs
	url = git://github.com/erickt/ocs.git
