# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~
*.pyc
*.pyo
*.swp
*.swo
*.par2
*.o
*.so
*.dylib
build
.dotest
flxg_stats.txt
mydb.db
tmp.txt
tmp.out
ocamlprof.dump
*.os
*.ctors_cpp
*.dep
*.rtti
*.resh
*.exe
*.os
*.ctors_cpp
*.dep
*.rtti
*.resh
*.exe
*.stdout
*.a
automaton.syntax
test/*/*/*.cpp
test/*/*/*.hpp
test/*/*/*.includes
*.includes
!src/flx_pkgconfig/flx_pkgconfig.includes
.project
.pydevproject
\#*\#
