[submodule "fbuild"]
	path = fbuild
	url = http://git.felix-lang.org/r/fbuild.git
[submodule "src/compiler/dypgen"]
	path = src/compiler/dypgen
	url = http://git.felix-lang.org/r/dypgen.git
[submodule "src/compiler/ocs"]
	path = src/compiler/ocs
	url = http://git.felix-lang.org/r/ocs.git
