sudo: true
dist: trusty
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - python3
    - gcc-8
    - g++-8
before_script:
- wget https://github.com/ocaml/ocaml/archive/4.06.1.tar.gz
- tar -xzf 4.06.1.tar.gz
- cd ocaml-4.06.1
- "./configure"
- make world
- make world.opt
- sudo make install
- cd -
- git config --global user.email "skaller@users.sourceforge.net"
- git config --global user.name "skaller"
- git config --global push.default simple
- 
- mkdir -p build
- 
- 
script:
- mkdir -p bin
- sudo rm -rf /usr/bin/gcc
- sudo rm -rf /usr/bin/g++
- sudo ln -s /usr/bin/gcc-8 /usr/bin/gcc
- sudo ln -s /usr/bin/g++-8 /usr/bin/g++
- export PATH=bin:build/release/host/bin:$PATH
- export LD_LIBRARY_PATH=build/release/host/lib/rtl:$LD_LIBRARY_PATH
- 
- gcc --version
- g++ --version
- FLX_MIN_MEM=100000 make "FBUILD_PARAMS=--build-cc=gcc --build-cxx=g++"
- 
- #make rebuild uproot
after_success:
#- mkdir linuxgccbinary/build
#- mkdir linuxgccbinary/build/release
#- mkdir linuxgccbinary/build/release/share
#- mkdir linuxgccbinary/build/release/host
#- cp -r build/release/share/* linuxgccbinary/build/release/share
#- cp -r build/release/host/* linuxgccbinary/build/release/host
#- cd linuxgccbinary
#- git add build/release/host/*
#- git add build/release/share/*
#- git commit -a -m "travis rebuild"
#- git push >/dev/null 2>1
#- cd ..
before_deploy:
- export FLX_VERSION=`python3 showversion.py`
- tar -czvf felix-${FLX_VERSION}-linux64-gcc-8.tgz build/release/host build/release/share
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: AnV8qFgHkwitbfWJgb2TukDBk8FOrAMlIaby1BMVYOXGNwqROz3iUNPz0KYybVqbc2WvNOFfF8OuHKT2JdKqlKdMUoc0n1cTlHHn/ikkgVI38niO8eixAeuhgDSgGVRhkcW7eU/8dwJw0EoVhVm4yvQDZjyKTooWE6/Zlx2a49c=
  file: felix-${FLX_VERSION}-linux64-gcc-8.tgz
  on:
    repo: felix-lang/felix
    tags: true
notifications:
  email: felix-builds@googlegroups.com
env:
  global:
    secure: l2FEMgK9dogawsN45lgOMVuUchtVyyFdgJcBeJncCnF5Mz7lIVl1qwGbgZDV6fnWcunh7snaG5o7sUg5+g9ywFc4E9CYCyx/H7Xjcr4y1wHk9RV+K3EkSWtR1DoJnayl6n4vSvP+0o+JzLqJQS65bMNMIjDdkit8CrtEnjIpSas=

