<html>
<head>
<link href="/CodeMirror/lib/codemirror.css" rel="stylesheet"/>
<script src="/CodeMirror/lib/codemirror.js"> </script>
<script src="/CodeMirror/mode/clike/clike.js"> </script>
<script src="/CodeMirror/keymap/vim.js"> </script>
<style>
#test1 {"height:300px;width:350px;clear:both;border:1px 
solid;overflow:hidden;
}
</style>
</head>
<bod>
<div id="test1" style="> 
            <div id="Div1" style="height:24px"> 
                Menu Here 
                </div> 
            <div id="Div2" style="overflow:hidden;"> 
                <textarea id="txtEditMode4" cols="2" rows="2"> 
                    /* 
                   Loads of important SQL code here... 
                    */ 
                    SELECT * FROM 
                    Clue WHERE 
                    isStick = 1 
                </textarea> 
            </div> 
        </div> 
<script type="text/javascript"> 
var textarea4 = document.getElementById("txtEditMode4"); 
        var editor4 = CodeMirror.fromTextArea(textarea4, { 
            mode: "text/x-plsql", 
            matchBrackets: "true", 
            lineNumbers: "true", 
        }); 
        editor4.refresh(); 
</script> 
</body>
</html>
