<table id='paths' class='admin' border='1' cellpadding='10'>
<caption>Paths</caption>
<tr><th></th><th>Group</th><th>Path</th></tr>
___PATHS___
</table>
<br/>
<hr/>
<div id="notification" class="ui-widget-content ui-corner-all" style='display:none;'></div>

<br/>

<fieldset>
    <legend>Add/Edit Path:</legend>
<table id='user_edit' class='admin'>
<tr><td colspan='2'>___GROUP_SELECT___</td></tr>
<tr><td><label for='path'>Path:</label></td><td><input id='path' name='path' type='text'
					  size='80' /></td></tr>
<!--<tr><td colspan='2'>___LVL_SELECT___</td></tr>-->
<tr><td><span class="ui-widget-header
					       ui-corner-all" style='margin-top:10px;'
			  ><button id="path_add_edit" style='padding:
					       0; font-size:
					       small;'><label for='path_add_edit'>Save</label></button></span></td>
<td><span class="ui-widget-header
					       ui-corner-all" style='margin-top:10px;'
			  ><button id="path_delete" style='padding: 0; font-size: small;'><label for='user_add_edit'>Delete</label></button></span></td></tr>


</table>
</fieldset>
<br/>

