<table id='users' class='admin' border='1' cellpadding='10'>
<caption>Users</caption>
<tr><th></th><th>User</th><th>Name</th><th>Group</th><th>Email</th></tr>
___USERS___
</table>
<br/>
<hr/>
<div id="notification" class="ui-widget-content ui-corner-all" style='display:none;'></div>

<br/>

<!-- <form action="/admin/user-add"> -->
<fieldset>
    <legend>Add/Edit User:</legend>
<table id='user_edit' class='admin'>
<tr><td><label for='name'>Username:</label></td><td><input id='user' name='user' type='text'
					  size='12' /></td></tr>

<tr><td><label for='name'>Name:</label></td><td><input id='name' name='Name' type='text'
					  size='12' /></td></tr>
<tr><td colspan='2'>___GROUP_SELECT___</td></tr>
<tr><td><label for='email'>Email:</label></td><td><input id='email' name='Email' type='text'
					  size='22' /></td></tr>
<tr><td><span class="ui-widget-header
					       ui-corner-all" style='margin-top:10px;'
			  ><button id="user_add_edit" style='padding:
					       0; font-size:
					       small;'><label for='user_add_edit'>Save</label></button></span></td>
<td><span class="ui-widget-header
					       ui-corner-all" style='margin-top:10px;'
			  ><button id="user_delete" style='padding: 0; font-size: small;'><label for='user_add_edit'>Delete</label></button></span></td></tr>


</table>
</fieldset>
<!-- </form> -->
<br/>
<hr/>
<div id="notification1" class="ui-widget-content ui-corner-all" style='display:none;'></div>
<br/>
<!-- <form > -->
<fieldset>
    <legend>Reset Passwd:</legend>
<table id='reset_passwd' class='admin'>
<tr><td><label for='name'>Username:</label></td><td><input readonly='readonly'
					  id='user1' name='user' type='text'
					  size='12' /></td></tr>

<tr><td><label for='password'>Password:</label></td><td><input id='passwd'
					      name='password'
					      type='password'
					      size='12' /></td></tr>
<tr style='padding-top:25px;'><td colspan='2'>	<span class="ui-widget-header
					       ui-corner-all" style='margin-top:10px;'
			  ><button id="reset_password" style='padding:
					       0; font-size:
					       small;'><label for='reset_password'>Save</label></button></span>

</td></tr>
</table>
</fieldset>
<!-- </form> -->
