
<link type="text/css"  href="/css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery-1.6.2.min.js"> </script>
<script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"> </script>


<script>
function notification(ele,content,callback) {
  // get effect type from 
  $(ele ).html(content);
  var selectedEffect = "slide";
  var options = {};
  $( ele ).show( selectedEffect, options, 500, callback );
}

function working(ele) {
  // get effect type from 
  $( ele ).html("<img src='/images/ui-anim_basic_16x16.gif'/>Working");
  var selectedEffect = "slide";
  var options = {};
  $( ele ).show( selectedEffect, options );
}


//callback function to bring a hidden box back
function callback0() {
  setTimeout(function() {
    $( "#notification:visible" ).removeAttr( "style" ).fadeOut();
  }, 1000 );
}

function callback1() {
  setTimeout(function() {
    $( "#notification1:visible" ).removeAttr( "style" ).fadeOut();
  }, 1000 );
}

function sel_user(user,name,group,email) {
  $('#user').val(user);
  $('#name').val(name);
  $('#email').val(email);
  $('#user1').val(user);
  $('#group').val(group);
}
$(function() {
  $.ajaxSetup ({ cache: false });  
  var ajax_load = '<img src="/images/ui-anim_basic_16x16.gif"/>Working...';  

  $( "#user_add_edit" ).button({text: true})
               .click(function() {
     working( "#notification");
     var url = "/admin/users/edit/"+$('#user').val();
     $.post(url,
      { name: $('#name').val(),grp:$('#group').val(),email:$('#email').val(), },
      function(data){
        notification( "#notification",data,callback0);
      });
     $.get("/admin/users/table/",
      {  },
      function(data){
        $( "#users").html(data);
      });
    return false
  });

   $( "#reset_password" ).button({text: true})
               .click(function() {
     working( "#notification1");
     var url = "/admin/users/reset/"+$('#user').val();
     
     $.post(url,
      { password: $( "#passwd").val(), },
      function(data){
        notification( "#notification1",data,callback1);
      });
    return false
  });


   $( "#user_delete" ).button({text: true})
               .click(function() {
     working( "#notification");
     var url = "/admin/users/delete/"+$('#user').val();
     $.post(url,
      {  },
      function(data){
        notification( "#notification",data,callback0);
      });
           $.get("/admin/users/table/",
      {  },
      function(data){
        $( "#users").html(data);
      });
    return false
  });
});
/*var obj = jQuery.parseJSON('{"name":"John"}');
alert( obj.name === "John" );*/
</script>
