<h2>Welcome to the Felix Wiki</h2>


<h3>Administrative Access</h3>
Administrative access is required to edit wiki pages as well as
perform other administrative tasks. The default administrative user
is <b>felix</b> the default password is <b>felix</b>. Please rember to
change the default password.

<h3>Getting Wiki Content</h3>
The felix wiki is backed by a Git repository on github.com.
You have the following options for accessing the wiki content.<br/>

<form action='get-wiki' method='POST'>
<dl><dt><input type='radio' name='get-option' value='ssh'/>
SSH</dt><dd>SSH access requires port 22 is open on your firewall an git is installed on your computer<br/>
This method is required for content to be posted to the wiki repository.<br/>
This method will allow you to view the latest wiki content.<br/>
This method will allow you to post content to the wiki if you are a contributor.<br/>
This method requires the git executable to be in the path of the user
    who started the wiki.
To commit changes in the wiki to the wiki repository this method
    requires that you have a github account and your git config has
    been configured
    per <a href='https://help.github.com/articles/set-up-git'> Git
      Setup</a> and
    <a href='https://help.github.com/articles/set-up-git'>Git SSH Keys
      Setup</a> documents at Github.com.
<dd/>

<dt><input type='radio' name='get-option' checked='checked' value='https'/>
HTTPS</dt><dd> HTTPS access requires port 443 is open on your firewall an git is installed on your computer<br/>
This method is does not allow content to be posted to the wiki repository.<br/>
This method will allow you to view the latest wiki content.</br/>
This method requires the git executable to be in the path of the user
    who started the wiki.<dd/>

<dt><input type='radio' name='get-option' value='zip'/>
Static copy</dt><dd> requires port 443 is open on your firewall
This method is does not allow content to be posted to the wiki
    repository and will not allow you to view the latest content of
    the wiki repository.
repository.</dd>
<dl>
<br/>
<input type='submit' name='Get Content' value='Get Content'/>
</form>

<br/>
