<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>felixweb</string>

  <key>Program</key>
  <string>/usr/local/lib/felix/felix-latest/host/bin/flx_web</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/lib/felix/felix-latest/host/bin/flx_web</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/johnskaller/felix</string>

  <key>RunAtLoad</key>
  <true/>

  <key>EnvironmentVariables</key>
  <dict>
    <key>DYLD_LIBRARY_PATH</key>
    <string>/usr/local/lib/felix/felix-latest/host/lib/rtl</string>
  </dict>

</dict>

</plist>


