span.fstring {color:darkblue; font-style:italic; }
span.comment {font-family:arial; color:blue; font-style:italic; }
span.big_keyword {color:#FF1010; }
span.small_keyword {color:#802040; }
span.qualifier {color:#A02020; }
span.library {color:#A02000; }
span.ctor {color:#406020; }
span.hack {color:#66DD00; }
span.preproc {color:#005500; }
span.embedded_c{background-color:#DDDDDD; }
span.fpc_fieldname {color:#DD0000; }
pre.flxbg {background-color:#90EF90; }
pre.cppbg {background-color:#80FF80; }
pre.expected {background-color:#E0FF80; }
pre.inclusion {background-color:#D070D0; }
code.inclusion {background-color:#D070D0; }
.obsolete { background-color:#FFEFEF; font-size: small}
.future { background-color:#FF8080; font-size: small}
.implementation_detail { background-color:#E0E0E0; font-size: small; }
.bug { background-color:#FFE0E0; font-size: small; }
.fixed{ background-color:#FFE0E0; font-size: small; }
.done { background-color:#FFE0E0; font-size: small; }
.caveat { background-color:#FF8080; }
h1 {font-size:15px;font-weight:bold;}
h2 {font-size:14px;font-weight:bold;}
h3 {font-size:13px;font-weight:bold;}
h4 {font-size:12px;font-weight:bold;}
h5 {font-size:11px;font-weight:bold;}
h6 {font-size:10px;font-weight:bold;}

span#toolbar {
background:#102510;
padding-bottom:5px;
padding-top:5px;

}

span#toolbar button {
height:25px;
font-size:8pt;
}
hr {margin:0px;margin-top:5px;}
#editor { }
